In [25]:
import pandas as pd
import numpy as np
from scipy import stats
mpg=pd.read_csv("./data/mpg.txt",sep=',',header=None,names=['USA','Japan'])

In [8]:
mpg.head()
mpg.tail()

     USA  Japan
244   27   -999
245   27   -999
246   32   -999
247   28   -999
248   31   -999

In [11]:
mpg['Japan']=[np.nan if i==-999 else i for i in mpg['Japan']]

In [12]:
mpg.tail()

     USA  Japan
244   27    NaN
245   27    NaN
246   32    NaN
247   28    NaN
248   31    NaN

In [13]:
USA=mpg['USA']

In [17]:
USA.size

249

In [15]:
Japan=mpg['Japan']

In [24]:
Japan=Japan[0:79,]
Japan.size

79

In [29]:
print(stats.ttest_ind(Japan,USA))
print(stats.ttest_ind(USA,Japan))

Ttest_indResult(statistic=12.620591288724363, pvalue=5.2729354566085367e-30)
Ttest_indResult(statistic=-12.620591288724363, pvalue=5.2729354566085367e-30)